<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff login</title>
     <link type="text/css" rel="stylesheet" href="/public/stylesheets/signup_and_login.css">
       

   
  </head>

  <body>
  
  
         <header class="auto-style3">
        <div class="content">
         <img src="/public/images/Project_logo.png" width="70px" height="70px" alt="Dashboard button">

        </div>
     
    </header>
    
    
    <div class="auto-style1">
    
     <h1>Staff Login</h1> 
                     
		 <br>

         <form class="form" method="post" action="/auth/staff-login">
            
            <label class="label-color">Username</label>
            <input type="text" id="userID" name="username" placeholder="Username" style="height: 20px; width: 30%;" class="signuptextbox">

			<br><br>
			
            <label class="label-color">Password</label>
            <input type="password" id = "password" name = "password" placeholder="please enter your password" style="height: 20px; width: 30%;" class="auto-style5">
			
			<br>
			<br>
			
            <button type="submit">Submit</button>		
					
			<br><br><br>
            
            </div>
      </form>
        
      </div>
      
      
        <div class="footer">
        <p>Dubai Group 4</p>
    </div>



  </body>


</html>