<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup type</title>
     <link type="text/css" rel="stylesheet" href="/public/stylesheets/signup_and_login.css">
       
    <script>
    	
    function openthisMenu() {
        document.getElementById("sideMenu").style.width = "250px"; 
    }

    function closethisMenu() {
        document.getElementById("sideMenu").style.width = "0"; 
    }

    
    </script>

   
  </head>

  <body>
  
  
         <header class="auto-style3">
        <div class="content">
         <img src="/public/images/Project_logo.png" width="70px" height="70px" alt="Dashboard button">

        </div>
     
    </header>
    
    
    <div class="auto-style1">
        
        <form class="form">
            <div class="label-color">
            	<br><br><br><br><br>
            <br>
            <a href="User_Login.html">
            <button type="button" style="width: 200px; height: 50px">User Log in</button>
            </a>
            
            
            <br>
            
            <br>
            
            
           	<a href="Staff_Login.html">
            <button type="button" style="width: 200px; height: 50px">Staff Log in</button>
            </a>
            </div>
               
        </form>
        <br>
       
       <p>If you are a new user, click <a href="User Signup.html">here</a></p>
    
  
      </div>
      
      
        <div class="footer">
        <p>Dubai Group 4</p>
    </div>



  </body>


</html>